// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

.form-group{
	padding:0 0 17px;
	@extend %clearfix;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	background: $form-element-background;
	border: 0;
	border-radius: 7px;
	color: $placeholder-color;
	display: block;
	font-size:14px;
	height: $form-element-height;
	line-height:20px;
	margin: 0;
	outline: none;
	padding: $form-element-padding;
	width: 100%;
	@include media("<tablet") {
		height:40px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@include placeholder {
		color: $placeholder-color;
	}
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 150px;
	min-height: 120px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.fake-select{
	position:relative;
	&:before {
		border:5px solid transparent;
		border-top-color: #636363;
		content: '';
		height:0;
		pointer-events:none;
		position:absolute;
		right:11px;
		top:23px;
		width:0;
		z-index:5;
		@include media("<tablet") {
			top:18px;
		}
	}
	select{
		appearance:none;
		background-color: $form-element-background;
		border: 0;
		border-radius: 7px;
		color: $placeholder-color;
		display:block;
		font-size: 14px;
		height: $form-element-height;
		line-height: 20px;
		margin:0;
		outline: none;
		padding: $form-element-padding;
		position:relative;
		width:100%;
		@include media("<tablet") {
			height:40px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&::-ms-expand {
			display:none;
		}
	}
}