html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
	color: $base-text-color;
	background: $base-background-color;
	font: #{$font-size-base}/#{$line-height-base} $base-font-family;
	min-width: $base-min-width;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// adaptive images
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

video, iframe, object, embed {
	max-width: 100%;
	display: block;
}

#__bs_notify__ {
	display: none;
}

// google map fix
.gm-style img {max-width: none}

blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}

// lists
// ul {
// 	@extend %listreset;
// }
// 
// ul ul,
// ul ol,
// ol ul,
// ol ol {
// 	padding-left:3em;
// 	margin:0;
// }
// 
// ul:not([class]) {
// 	padding: 0 0 10px;
// 
// 	li {
// 		position: relative;
// 		padding: 0 0 10px 15px;
// 
// 		&:before {
// 			content: '';
// 			background: $base-text-color;
// 			width: 9px;
// 			height: 9px;
// 			position: absolute;
// 			left: 0;
// 			top: 8px;
// 			border-radius: 50%;
// 		}
// 	}
// }