// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: bold;
	margin: 0 0 0.5em;
}

h1, .h1 {
	font-size: $h1-font-size;
	line-height:1.5;//72
	margin:0 0 0.5417em;//26
	text-transform:uppercase;
	@include media("<tablet") {
		font-size: 26px;
	}
}

h2, .h2 {
	color:$brand-primary;
	font-size: $h2-font-size;
	margin:0 0 0.4em;//12
	text-transform:uppercase;
	@include media("<tablet") {
		font-size: 24px;
	}
}

h3, .h3 {
	color:#777;
	font: #{$h3-font-size}/1.5122 'Freestyle Script', $base-font-family;
	margin:0 0 0.878em;//36
	@include media("<tablet") {
		font-size: 22px;
	}
}

h4, .h4 {
	font-size: $h4-font-size;
	margin:0 0 1.2em;
	text-transform:uppercase;
	@include media("<tablet") {
		font-size: 18px;
	}
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 0.5em;
}

a {
	color: $base-link-color;
	text-decoration:none;
	&:hover {
		color: $base-link-hover-color;
	}
}

.text-center{
	text-align:center;  
}

.text-right{
	text-align:right;
}