// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #000;
$white: #fff;

$brand-primary:				#5b6ceb;


$gray: #999;
$light-blue: #39f;

$base-font-sans-serif:		'Open Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color:				#555;
$base-background-color:			darken(desaturate($brand-primary, 15.23), 5.29);
$font-size-base:				14px;
$line-height-base:				1.5714;
$base-font-family: $base-font-sans-serif;

$vertical-rhythm: ($line-height-base * 1em);

// Indents
$gap: 10px;
$trim: 15px;
$trim-middle: 20px;
$trim-big: 30px;

$base-min-width: 320px;
$max-content-width: 1140px;
$max-container-width: $trim + $max-content-width + $trim;

// Links
$base-link-color:				$brand-primary;
$base-link-hover-color:			darken($brand-primary, 10%);

// Buttons 
$btn-color:						$white;
$btn-background:				$brand-primary;
$btn-padding:					14px 15px 16px;
$btn-font-size:					18px;

// Forms
$form-element-background:		#f2f2f2;
$form-element-padding:			15px 11px;
$form-element-height:			50px;
$placeholder-color:				#888;

// Headers
$h1-font-size:					48px;
$h2-font-size:					30px;
$h3-font-size:					41px;
$h4-font-size:					20px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$headings-font-family:			$base-font-family;
$headings-color:				inherit;


$animation-speed: 0.3s;
