.bg-cover
	span(data-srcset='images/'+image+'-s.jpg')
	span(data-srcset='images/'+image+'-m.jpg', data-media="(min-width: 768px)")
	span(data-srcset='images/'+image+'.jpg', data-media="(min-width: 1024px)")