#wrapper {
	// max-width: 1200px;
	// @include media("<desktop") {
	// 	max-width: 768px;
	// }
	// @include media("<tablet") {
	// 	max-width: 320px;
	// }
}

main{
	background:#fdfdfd url(../images/decor-s.jpg) no-repeat 100% 100%;
	padding:104px 0 70px;
	position:relative;
	z-index:1;
	@include media(">=tablet") {
		background-image:url(../images/decor-m.jpg);
	}
	@include media(">=desktop") {
		background-image:url(../images/decor.jpg);
		padding:100px 0 165px;
	}
}

.section-intro{
	color:$white;
	padding:100px 0 109px;
	position:relative;
	@include media("<desktop") {
		padding:50px 0;
	}
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		max-width: 1100px;
		@include media("<tablet") {
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: flex-start;
		}
		> div{
			@include media("<tablet") {
				width:100%;
			}
			&:first-child {
				min-width:491px;
				@include media("<desktop") {
					min-width: 300px;
				}
				@include media("<tablet") {
					min-width: 0;
				}
			}
		}
	}
	.box{
		background:$white;
		border-radius: 20px;
		color:$base-text-color;
		margin:0 0 0 auto;
		padding:30px 29px 35px;
		width:300px;
		@include media("<tablet") {
			border-radius: 10px;
			padding:20px 20px 25px;
			width:auto;
		}
		h2{
			font-size: 26px;
			font-weight:600;
			margin:0 0 20px;
			text-transform:none;
			@include media("<tablet") {
				font-size: 18px;
				margin:0 0 10px;
			}
		}
		.submit-holder{
			margin:0 -5px 0 0;
			padding:14px 0 0;
			@include media("<tablet") {
				margin:0;
				padding:0;
			}
			.btn{
				box-shadow:3px 3px 5px rgba($black, 0.15);
			}
		}
	}
	.content{
		font:40px/1.2 'Freestyle Script', $base-font-family;
		padding:0 0 0 94px;
		@include media("<desktop") {
			padding-left: 30px;
		}
		@include media("<tablet") {
			font-size: 24px;
			padding:0;
		}
		p{
			max-width: 60%;
			@include media("<tablet") {
					max-width: none;
			}
		}
	}
}

.section-program{
	overflow:hidden;
	padding:110px 0 99px;
	@include media("<desktop") {
		padding:50px 0;
	}
	.heading{
		padding:0 0 21px;
		@include media("<tablet") {
			padding:0;
		}
		h2{
			margin:0 0 -1px;
		}
	}
}

.thumbnails-holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	margin:0 -15px;
	> div{
		padding:0 15px 25px;
		width:50%;
		@include media("<tablet") {
			width:100%;
		}
	}
}

.section-gallery{
	ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		@extend %listreset;
		li{
			position:relative;
			width:25%;
			@include media("<tablet") {
				width:50%;
			}
			&:hover {
				img{
					filter:grayscale(100%);
				}
				.hover-box{
					opacity:1;
				}
			}
		}
	}
	.hover-box{
		background:rgba($brand-primary, 0.8);
		height:100%;
		left:0;
		opacity:0;
		position:absolute;
		top:0;
		transition:opacity $animation-speed;
		width:100%;
		z-index:5;
		.icon{
			background:$white;
			border-radius: 100%;
			height:57px;
			left:50%;
			position:absolute;
			top:50%;
			transform:translate(-50%, -50%);
			width:57px;
			&:before {
				content: '';
				height:24px;
				left:50%;
				position:absolute;
				top:50%;
				transform:translate(-50%, -50%);
				width:24px;
				@extend %sprite;
			}
		}
	}
}

.section-about{
	padding:136px 0 125px;
	@include media("<desktop") {
		padding:50px 0;
	}
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		@include media("<tablet") {
			display: flex;
		    flex-direction: column-reverse;
		    flex-wrap: wrap;
		    justify-content: flex-start;
		    align-content: flex-start;
		    align-items: flex-start;
		}
		> div{
			 width:50%;
			 @include media("<tablet") {
			 	width:100%;
			 }
		}
	}
	.content{
		padding:0 21.3675% 0 0;
		@include media("<desktop") {
			padding-right: 15px;
		}
	}
	.slider{
		max-width:570px;
		margin:-11px 0 0 auto;
		@include media("<desktop") {
			margin-top: 0;
		}
		@include media("<tablet") {
			margin:0 0 20px;
		}
	}
}

.section-elements{
	color:$white;
	font-size:16px;
	line-height:1.6875;
	padding:97px 0 105px;
	position:relative;
	@include media("<desktop") {
		padding:40px 0 50px;
	}
	.elements-list{
		margin:0 -15px;
	}
	@include media("<tablet") {
		font-size: inherit;
	}
}

.section-prices{
	padding:85px 0 90px;
	@include media("<desktop") {
		padding:40px 0;
	}
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		// max-width: 1000px;
		padding-right: 0;
		padding-left: 0;
		@include media("<desktop") {
			display:block;
		}
		> div{
			padding:15px;
			width:33.3333%;
			@include media("<desktop") {
				width:auto;
			}
		}
	}
}