.container{
	margin:0 auto;
	max-width: 1200px;
	padding-right: 15px;
	padding-left:15px;
	position:relative;
	z-index:5;
}

.bg-cover{
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:1;
	&:before {
		background:rgba($brand-primary, 0.8);
		content: '';
		height:100%;
		left:0;
		position:absolute;
		top:0;
		width:100%;
	}
}

.img-stretch{
	overflow:hidden;
	position:relative;
	img{
		left:0;
		position:absolute;
		max-width: none;
		top:0;
	}
}

.thumbnail{
	border-radius: 7px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	box-shadow:5px 5px 20px rgba($black, 0.1);
	overflow:hidden;
	@include media("<desktop") {
		display:block;
	}
	.img-holder{
		min-width:270px;
		@include media("<widescreen") {
			min-width: 200px;
		}
		@include media("<desktop") {
			height:230px;
			min-width: 0;
		}
		@include media("<tablet") {
			height:150px;
		}
	}
	.content{
		padding:40px 30px 37px;
		@include media("<tablet") {
			padding:15px;
		}
	}
	h4{
		color:#777;
		margin-right: -2px;
	}
}

.category{
	color:lighten(#555555, 26.67);
	display:inline-block;
	vertical-align:top;
	margin:0 12px 0 0;
	position:relative;
	&:hover {
		color:$base-link-color;
		&:after {
			color:lighten(#555555, 26.67);
		}
	}
	&:last-child {
		&:after {
			display:none;
		}
	}
	&:after {
		content: '-';
		pointer-events:none;
		position:absolute;
		right:-8px;
		top:0;
	}
}

.logo{
	display:inline-block;
	vertical-align:top;
}

.slider{
	position:relative;
	.slick-list{
		border-radius: 7px;
		box-shadow:6px 6px 15px rgba($black, 0.15);
		overflow:hidden;
		position:relative;
		z-index:1;
	}
	.slick-prev,
	.slick-next{
		background:$white;
		border: 0;
		border-radius: 100%;
		box-shadow:9px 9px 9px rgba($black, 0.1);
		height:50px;
		left:0;
		overflow:hidden;
		padding:0;
		position:absolute;
		text-indent:-9999px;
		top:50%;
		transform:translate(-50%, -50%);
		width:50px;
		z-index:5;
		@include media("<widescreen") {
			transform:translate(0, -50%);
		}
		&:hover {
			background:$brand-primary;
			&:before {
				background-position:-40px -30px;
			}
		}
		&:before {
			background-position:0 -30px;
			content: '';
			height:19px;
			left:50%;
			position:absolute;
			top:50%;
			transform:translate(-50%, -50%);
			width:12px;
			@extend %sprite;
		}
	}
	.slick-next{
		left:100%;
		@include media("<widescreen") {
			left: auto !important;
			right:0;
		}
		&:hover {
			&:before {
				background-position:-60px -30px;
			}
		}
		&:before {
			background-position:-20px -30px;
		}
	}
}

.elements-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	@extend %listreset;
	li{
		padding:28px 15px;
		width:25%;
		@include media("<desktop") {
			width:33.3333%;
		}
		@include media("<tablet") {
			width:50%;
		}
		@include media("<phone") {
			width:100%;
		}
	}
	.icon{
		border: 2px solid $white;
		border-radius: 100%;
		display:block;
		height:70px;
		margin:0 auto 26px;
		overflow:hidden;
		position:relative;
		width:70px;
		&:before {
			content: '';
			left:50%;
			position:absolute;
			top:50%;
			transform:translate(-50%, -50%);
			@extend %sprite;
		}
		&.health {
			&:before {
				background-position:0 -60px;
				height:31px;
				width:39px;
			}
		}
		&.eye {
			&:before {
				background-position:-40px -60px;
				height:25px;
				width:43px;
			}
		}
		&.balance {
			&:before {
				background-position:-90px -60px;
				height:53px;
				width:48px;
			}
		}
		&.sleep {
			&:before {
				background-position:-140px -60px;
				height:34px;
				width:34px;
			}
		}
		&.loss {
			&:before {
				background-position:0 -120px;
				height:34px;
				width:40px;
			}
		}
		&.strength {
			&:before {
				background-position:-50px -120px;
				height:51px;
				width:19px;
			}
		}
		&.flexibility {
			&:before {
				background-position:-80px -120px;
				height:33px;
				width:49px;
			}
		}
		&.lower {
			&:before {
				background-position:-140px -120px;
				height:36px;
				width:28px;
			}
		}
	}
	h3{
		color:inherit;
		 font:bold 18px/1.5 $base-font-family;
		 margin:0 43px 12px;
		 min-height: 3em;
		 text-transform:uppercase;
		 @include media("<desktop") {
		 	margin-right: 15px;
		 	margin-left: 15px;
		 }
		 @include media("<tablet") {
		 	min-height: 0;
		 }
	}
	p{
		margin:0;
	}
}

.price-box{
	background:$white;
	border-radius: 10px;
	box-shadow:9px 9px 50px rgba($black, 0.1);
	font-size:18px;
	line-height:1.3333;//24
	overflow:hidden;
	text-align:center;
	transition:box-shadow $animation-speed;
	&.hover {
		box-shadow:9px 9px 10px rgba($black, 0.25);
	}
	@include media("<desktop") {
		font-size: 14px;
	}
	.heading{
		background:$brand-primary;
		color:$white;
		font-weight:bold;
		line-height:1;
		padding:41px 15px 42px;
		text-transform:uppercase;
		@include media("<desktop") {
			padding:10px 15px;
		}
		> *{
			display:inline-block;
			vertical-align:baseline;
			padding:0 9px;
			@include media("<desktop") {
				padding:0 4px;
			}
		}
		.currency{
			font-size: 1.7778em;//32
			position:relative;
			top:-0.4063em;
		}
		.amount{
			font-size: 3.7222em;//67
		}
		.term{
			margin:0 0 0 -4px;
			padding-left: 0;
		}
	}
	.content{
		padding:45px 15px 25px;
		@include media("<desktop") {
			padding:25px 15px 5px;
		}
	}
	ul{
		text-transform:uppercase;
		@extend %listreset;
		li{
			padding:20px 0;
			position:relative;
			&:first-child {
				padding-top: 0;
				&:before {
					display:none;
				}
			}
			&:before {
				background:#d7d7d7;
				content: ''; 
				height:1px;
				left:50%;
				position:absolute;
				top:0;
				transform:translateX(-50%);
				width:99px;
			}
		}
	}
	.footer{
		padding:0 15px 52px;
		@include media("<desktop") {
			padding-bottom: 20px;
		}
	}
}

.btn{
	background:$btn-background;
	border-radius: 20px;
	color:$btn-color;
	display:inline-block;
	vertical-align:top;
	font-size:$btn-font-size;
	font-weight:600;
	line-height:1.1111;
	min-width: 170px;
	padding:$btn-padding;
	@include media("<desktop") {
		border-radius: 10px;
		font-size: 16px;
		min-width: 130px;
		padding:10px 10px 12px;
	}
	&:hover {
		background:$base-link-hover-color;
		color:$btn-color;
	}
}

input[type=submit].btn{
	border: 0;
	border-radius: 7px;
	font-size: 16px;
	line-height:1.25;
}

.testimonials-slider{
	position:relative;
	.slider-for{
		background:$white;
		box-shadow:9px 9px 50px rgba($black, 0.1);
		border-radius: 7px;
		margin:0 0 -35px;
		position:relative;
		z-index:1;
		@include media("<tablet") {
			margin:0 0 15px;
		}
	}
	blockquote{
		margin:0;
		padding:45px 200px 71px 300px;
		position:relative;
		@include media("<desktop") {
			padding:25px 100px 60px 260px;
		}
		@include media("<tablet") {
			padding:20px 30px 20px;
		}
		&:before {
			background:#d7d7d7;
			bottom:75px;
			left:257px;
			position:absolute;
			top:100px;
			width:2px;
			@include media("<desktop") {
				left:218px;
			}
			@include media("<tablet") {
				bottom:23px;
				left:15px;
				top:160px;
			}
		}
		.avatar{
			@include media("<tablet") {
				display:block;
				margin:0 auto 15px;
				padding:4px;
				position:static;
				width:100px;
			}
		}
		p{
			font-style:italic;
			margin:0 0 27px;
			position:relative;
			@include media("<tablet") {
				margin:0 0 15px;
			}
			&:before,
			&:after {
				color:$brand-primary;
				content: '“';
				font-size:60px;
				font-style:normal;
				left:-51px;
				line-height:1;
				position:absolute;
				top:-6px;
				@include media("<tablet") {
					font-size: 50px;
					left:-22px;
					top:-10px;
				}
			}
			&:after {
				bottom:-48px;
				content: '”';
				left: auto !important;
				right:-50px;
				top: auto !important;
				@include media("<desktop") {
					right:-30px;
				}
				@include media("<tablet") {
					bottom:-28px;
					right:-10px;
				}
			}
		}
		cite{
			color:$brand-primary;
			display:block;
			font-size:16px;
			font-style:normal;
			font-weight:bold;
			line-height:1.375;//22
			.position{
				color:#777;
				display:block;
				font-size: 0.875em;//14
				font-weight:normal;
				// margin:0 0 10px;
			}
		}
	}
	.avatar{
		border: 2px solid #d7d7d7;
		border-radius: 100%;
		display:inline-block;
		vertical-align:top;
		left:62px;
		padding:10px;
		position:absolute;
		top:38px;
		@include media("<desktop") {
			left:30px;
			top:30px;
		}
		img{
			border-radius: 100%;
		}
	}
	.slider-nav{
		margin:0 0 0 299px;
		max-width: 280px;
		padding:0 60px;
		position:relative;
		z-index:5;
		@include media("<desktop") {
			margin:0 0 0 260px;
		}
		@include media("<tablet") {
			margin:0;
			max-width: none;
		}
		.slick-prev,
		.slick-next{
			background:$white;
			border: 0;
			border-radius: 100%;
			box-shadow:9px 9px 9px rgba($black, 0.1);
			display:inline-block;
			vertical-align:middle;
			height:30px;
			left:0;
			overflow:hidden;
			padding:0;
			position:absolute;
			text-indent:-9999px;
			top:50%;
			transform:translateY(-50%);
			width:30px;
			z-index:5;
			&:hover {
				background:$brand-primary;
				&:before {
					background-position:-100px -30px;
				}
			}
			&:before {
				background-position:-80px -30px;
				content: '';
				height:11px;
				left:50%;
				position:absolute;
				top:50%;
				transform:translate(-50%, -50%);
				width:7px;
				@extend %sprite;
			}
		}
		.slick-next{
			left: auto;
			right:0;
			&:hover {
				&:before {
					background-position:-110px -30px;
				}
			}
			&:before {
				background-position:-90px -30px;
			}
		}
		.slide{
			white-space: nowrap;
			> *{
				display:inline-block;
				vertical-align:middle;
			}
		}
		.avatar{
			background:$white;
			padding: 3px;
			position:static;
		}
		.content{
			color:#777;
			font-size:12px;
			padding:0 0 0 9px;
			.title{
				color:$base-text-color;
				display:block;
				font-size: 14px;
				font-weight:bold;
				margin:0 0 2px;
			}
		}
	}
	.slick-dots{
		font-size:0;
		line-height:1;
		left:100%;
		margin:0 0 0 44px;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		@extend %listreset;
		@include media("<extra-widescreen") {
			left: auto;
			margin:0 15px 0 0;
			right:0;
		}
		@include media("<tablet") {
			margin:0 10px 0 0;
			top:0;
			transform:none;
		}
		li{
			padding:9px 0;
			@include media("<tablet") {
				padding:5px 0;
			}
			&:hover,
			&.slick-active {
				button{
					border-color: $brand-primary;
				}
			}
			&.slick-active {
				button{
					&:before {
						display:block;
					}
				}
			}
		}
		button{
			background:none;
			border:2px solid #d7d7d7;
			border-radius: 100%;
			height:20px;
			margin:0;
			padding:0;
			position:relative;
			width:20px;
			@include media("<tablet") {
				height:10px;
				width:10px;
			}
			&:before {
				background:$brand-primary;
				border-radius: 100%;
				content: '';
				display:none;
				height:10px;
				left:50%;
				position:absolute;
				top:50%;
				transform:translate(-50%, -50%);
				width:10px;
				@include media("<tablet") {
					height:4px;
					width:4px;
				}
			}
		}
	}
}

.social-networks{
	font-size:1px;
	line-height:1;
	@extend %listreset;
	li{
		display:inline-block;
		vertical-align:middle;
		margin:0 19px 0 0;
	}
	a{
		background-position:-9999px -9999px;
		display:block;
		@extend %sprite;
		&:hover {
			opacity:0.7;
		}
		&.pinterest {
			background-position:0 -180px;
			height:21px;
			width:17px;
		}
		&.twitter {
			background-position:-20px -180px;
			height:21px;
			width:25px;
		}
		&.facebook {
			background-position:-50px -180px;
			height:21px;
			width:13px;
		}
		&.google-plus {
			background-position:-70px -180px;
			height:21px;
			width:19px;
		}
		&.instagram {
			background-position:-90px -180px;
			height:21px;
			width:21px;
		}
	}
}