#footer{
	color:$white;
}

.footer-content{
	background:$brand-primary;
	padding:96px 0 104px;
	@include media("<desktop") {
		padding:50px 0;
	}
	@include media("<tablet") {
		padding:30px 0;
	}
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		@include media("<tablet") {
			display:block;
		}
		> div{
			width:50%;
			@include media("<tablet") {
				width:100%;
			}
			&:first-child {
				padding:0 120px 0 0;
				@include media("<desktop") {
					padding:0 50px 0 0;
				}
				@include media("<tablet") {
					padding:0 0 30px;
				}
			}
		}
	}
	h3{
		color:inherit;
		font:bold 18px/1.1 $base-font-family;
		margin:0 0 53px;
		text-transform:uppercase;
		@include media("<tablet") {
			margin:0 0 15px;
		}
	}
	p{
		margin:0 0 68px;
		@include media("<tablet") {
			margin:0 0 1em;
		}
	}
}

.contacts-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	@extend %listreset;
	> li{
		padding:0 0 22px 35px;
		position:relative;
		width:50%;
		@include media("<desktop") {
			width:100%;
		}
		@include media("<tablet") {
			padding-bottom: 10px;
		}
		&.map{
			&:before {
				background-position:-30px 0;
				height:21px;
				width:15px;
			}
		}
		&.mail{
			&:before {
				background-position:-50px 0;
				height:13px;
				width:21px;
			}
		}
		&.phone{
			&:before {
				background-position:-80px 0;
				height:21px;
				width:21px;
			}
		}
		&.worldwide{
			&:before {
				background-position:-110px 0;
				height:21px;
				top:2px;
				width:21px;
			}
		}
		&:before {
			content: '';
			left:0;
			position:absolute;
			top:5px;
			@extend %sprite;
		}
	}
	address{
		font-style:normal;
	}
	a{
		color:inherit;
		&:hover {
			opacity:0.7;
		}
	}
}

.footer-bottom{
	color:#b7bffc;
	font-size: 16px;
	padding:37px 0 38px;
	text-align:center;
	@include media("<desktop") {
		font-size: 14px;
		padding:15px 0;
	}
}

.copyright{
	margin:0;
}