#header{
	background:$white;
	box-shadow:0 0 7px rgba($black, 0.5);
	left:0;
	padding:16px 0;
	// position:relative;
	position:fixed;
	top:0;
	width:100%;
	z-index:5;
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		max-width:942px;
		> div{
			width:33.3333%;
			@include media("<desktop") {
				width:auto;
				&:first-child,
				&:last-child {
					flex:1 1 auto;
				}
				&:last-child {
					text-align:right;
				}
			}
		}
	}
}

.nav{
	font-weight:600;
	@extend %listreset;
	@include media("<tablet") {
		font-size: 12px;
	}
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 0 0 25px;
		@include media("<desktop") {
			margin:0 12px;
		}
		@include media("<tablet") {
			+ li {
				margin-top: 8px;
			}
		}
		&:hover,
		&.active {
			a{
				color:$base-link-color;
			}
		}
		&.active {
			a{
				&:before {
					display:block;
				}
			}
		}
	}
	a{
		color:inherit;
		display:inline-block;
		vertical-align:top;
		position:relative;
		&:before {
			background:$base-link-color;
			content: '';
			display:none;
			height:1px;
			left:50%;
			position:absolute;
			top:100%;
			transform:translateX(-50%);
			width:30px;
		}
	}
}