extends pug/extends/master

block content
	main
		//- 
		section.section-intro#section1
			.container
				div
					.box
						form(action="#")
							h2 Trial Class
							.form-group
								input(type="text", placeholder="Enter your name")
							.form-group
								input(type="tel", placeholder="Enter your phone")
							.form-group
								.fake-select
									select
										option.default Chose your class
										option #1
										option #2
										option #3
							.form-group.text-right.submit-holder
								input(type="submit", value="Try it").btn
				div
					.content
						h1
							| Just Balance
							//- br
							| your Mind &amp; Body 
						p Create the healthy living for yourself
			- var image = "img01"
			include pug/extends/retina
		section.section-program#section2
			.container
				.heading.text-center
					h2 Yoga FEATURE PROGRAM
					h3 Our Classes
				.thumbnails-holder
					div
						.thumbnail
							.img-holder.img-stretch
								img(src="images/img02.jpg", alt="Image description", width="322", height="300")
							.content
								h4 Yoga For Health
								p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p
									a(href="#").category Ashtanga
									a(href="#").category Hatha
					div
						.thumbnail
							.img-holder.img-stretch
								img(src="images/img03.jpg", alt="Image description", width="448", height="300")
							.content
								h4 Yoga For Lose Weight
								p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p
									a(href="#").category Ashtanga
									a(href="#").category Hatha
					div
						.thumbnail
							.img-holder.img-stretch
								img(src="images/img04.jpg", alt="Image description", width="436", height="300")
							.content
								h4 Yoga For Children
								p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p
									a(href="#").category Ashtanga
									a(href="#").category Hatha
					div
						.thumbnail
							.img-holder.img-stretch
								img(src="images/img05.jpg", alt="Image description", width="324", height="300")
							.content
								h4 Yoga For Elderly
								p Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p
									a(href="#").category Ashtanga
									a(href="#").category Hatha
		section.section-gallery#section3
			ul
				li
					img(src="images/img06.jpg", alt="Image description", width="479", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img07.jpg", alt="Image description", width="481", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img08.jpg", alt="Image description", width="481", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img09.jpg", alt="Image description", width="480", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img10.jpg", alt="Image description", width="480", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img11.jpg", alt="Image description", width="481", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img12.jpg", alt="Image description", width="481", height="350")
					.hover-box
						span.icon
				li
					img(src="images/img13.jpg", alt="Image description", width="480", height="350")
					.hover-box
						span.icon
		section.section-about#section4
			.container
				div
					.content
						h2 About us
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
				div
					.slider.slick-fade
						.slide
							img(src="images/img14.jpg", alt="Image description", width="594", height="324")
						.slide
							img(src="images/img15.jpg", alt="Image description", width="1920", height="800")
		section.section-elements.text-center#section5
			.container
				ul.elements-list
					li
						span.icon.health
						h3 improved overall health
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.eye
						h3 increased concentration
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.balance
						h3
							| balance
							br
							| your mind
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.sleep
						h3
							| sleep
							br
							| better
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.loss
						h3 weight loss
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.strength
						h3 strengthens your bones
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.flexibility
						h3 increased flexibility
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
					li
						span.icon.lower
						h3 lower blood pressure
						p Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
			- var image = "img15"
			include pug/extends/retina
		section.section-prices#section6
			.container
				div
					.price-box.hover-parent
						.heading
							span.currency $
							span.amount 49
							span.term / month
						.content
							ul
								li entry date: mon – fri
								li entry time: 8a.m – 8p.m
								li nutrition advicer: no
						.footer
							a(href="#").btn.hover-btn Buy now
				div
					.price-box.hover-parent
						.heading
							span.currency $
							span.amount 69
							span.term / month
						.content
							ul
								li entry date: mon – fri
								li entry time: 8a.m – 8p.m
								li nutrition advicer: no
						.footer
							a(href="#").btn.hover-btn Buy now
				div
					.price-box.hover-parent
						.heading
							span.currency $
							span.amount 99
							span.term / month
						.content
							ul
								li entry date: mon – fri
								li entry time: 8a.m – 8p.m
								li nutrition advicer: no
						.footer
							a(href="#").btn.hover-btn Buy now
		section.section-testimonials#section7
			.container
				.testimonials-slider
					.slider-for
						.slide
							blockquote
								.avatar
									img(src="images/img16.jpg", alt="Image description", width="125", height="125")
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
								cite
									span.position Trainer
									| Laura Shepard
						.slide
							blockquote
								.avatar
									img(src="images/img16.jpg", alt="Image description", width="125", height="125")
								p Lorem ipsum dolor sit amet,
								cite
									span.position Trainer
									| Laura Shepard
						.slide
							blockquote
								.avatar
									img(src="images/img16.jpg", alt="Image description", width="125", height="125")
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ad aspernatur quae numquam! Nesciunt delectus eum, ratione natus et voluptate. Nisi voluptatem eum natus reprehenderit quasi debitis neque culpa error veritatis sapiente quam inventore maiores, id praesentium ea ullam tenetur iusto, tempora recusandae cumque, minus non earum distinctio voluptatibus. Et cum eos maxime dolor unde, dolorum nobis sunt libero voluptates minima facere? Consequatur aliquam, reprehenderit blanditiis suscipit, eius mollitia dolorum fugit aperiam expedita commodi dolore est quidem veritatis enim provident vitae dolores deserunt iusto. Omnis aut iure architecto, culpa repellat atque. Non labore atque ad eligendi fuga velit ratione. Consequuntur.
								cite
									span.position Trainer
									| Laura Shepard
						.slide
							blockquote
								.avatar
									img(src="images/img16.jpg", alt="Image description", width="125", height="125")
								p Lorem ipsum dolor sit amet,
								cite
									span.position Trainer
									| Laura Shepard
					.slider-nav
						.slide
							.avatar
								img(src="images/img17.jpg", alt="Image description", width="60", height="61")
							.content
								strong.title Sara Taylor
								| Trainer
						.slide
							.avatar
								img(src="images/img17.jpg", alt="Image description", width="60", height="61")
							.content
								strong.title Laura Shepard
								| Trainer
						.slide
							.avatar
								img(src="images/img17.jpg", alt="Image description", width="60", height="61")
							.content
								strong.title Laura Shepard
								| Trainer
						.slide
							.avatar
								img(src="images/img17.jpg", alt="Image description", width="60", height="61")
							.content
								strong.title Laura Shepard
								| Trainer