footer#footer
	.footer-content
		.container
			div
				h3 About
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
				ul.social-networks
					li
						a(href="#").pinterest
					li
						a(href="#").twitter
					li
						a(href="#").facebook
					li
						a(href="#").google-plus
					li
						a(href="#").instagram
			div
				h3 Contact us
				ul.contacts-list
					li.map
						address
							| 5419 Joseph Mountains
							br
							| Apt. 716
					li.mail
						a(href="mailto:joga.info@example.com") joga.info@example.com
					li.phone
						a(href="+123456789") +1 234 567 89
						br
						a(href="+123467890") +1 234 678 90
					li.worldwide
						a(href="http://www.example.com") www.example.com
	.footer-bottom.text-center
		.container
			p.copyright Copyright  &copy;  2016-2017 Yoga classes 