header#header
	.container
		div
			ul.nav
				li
					a(href="#section4") About us
				li
					a(href="#section1") Reservation
				li
					a(href="#section3") Gallery
		div.text-center
			strong.logo
				a(href="#")
					img(src="images/logo.png", alt="Yoga", width="68", height="68")
		div
			ul.nav
				li
					a(href="#section7") Blog
				li
					a(href="#section5") Elements
				li
					a(href="#section6") Shop